<section class="clearfix overlay-primary-dark overlay-opacity-95 p-t50 bg-img-fix" style="background-image: url(images/background/bg1.webp)">
    <div class="container">
        <div class="row content-wrapper style-6 align-items-end">
            <div class="col-xl-6 col-lg-5 wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="0.8s">
                <div class="content-media">
                    <div class="dz-media">
                        <img src="/assets/images/about/img1.png" alt="">
                    </div>
                    <div class="item1" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
                        <div class="info-widget style-10 move-3">
                            <span class="content-text text-primary"><span class="counter">20</span>+</span>
                            <h3 class="title m-b0">Years <br> Experienced</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 m-b30 align-self-center">
                <div class="section-head style-1 m-b30">
                    <h2 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">Meet Dr. Natali jackson</h2>
                    <p class="fw-normal wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s"><strong class="text-secondary fw-semibold">Dr. Natali jackson</strong> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                </div>
                <h3 class="text-primary title-dashed-separator wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">About Skills</h3>
                <ul class="list-check-circle text-secondary fw-medium grid-2 m-b30 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
                    <li>Radiant Skin Dermatology</li>
                    <li>Laser Resurfacing</li>
                    <li>Flawless Dermatology</li>
                    <li>Refined Skin Dermatology</li>
                    <li>Luminous Dermatology</li>
                    <li>Anti Aging</li>
                </ul>
                <div class="row m-b30 g-3">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="1.0s" data-wow-duration="0.8s">
                        <div class="dz-img-box style-1">
                            <div class="dz-media">
                                <img src="/assets/images/logo/logo1.png" alt="">
                            </div>
                            <div class="dz-content">	
                                <h3 class="title">ClinicMaster 2024</h3>
                                <p>Quality and Accreditation Institute</p>
                                <a href="javascript:void(0);" class="btn-link">Best Dermatologists</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="0.8s">
                        <div class="dz-img-box style-1">
                            <div class="dz-media">
                                <img src="/assets/images/logo/logo2.png" alt="">
                            </div>
                            <div class="dz-content">	
                                <h3 class="title">ClinicMaster 2024</h3>
                                <p>Quality and Accreditation Institute</p>
                                <a href="javascript:void(0);" class="btn-link">Best Dermatologists</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>