<section class="content-inner">
    <div class="container">
        <div class="row g-xl-4 align-items-center">
            <div class="col-xl-7 pe-xl-4 m-b10">
                <div class="section-head style-1 m-b30">
                    <h2 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">Connect with Us for <br> Your Healthcare Needs</h2>
                    <p class="small wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">Reach out for support, feedback, or to schedule an appointment. Fill out the form, and we'll promptly assist you and confirm your visit with our healthcare professionals.</p>
                </div>
                <div class="clearfix m-b60 m-lg-b30">
                    <div class="d-flex align-items-center m-b15 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
                        <div class="info-widget style-12 m-r10 bg-light">
                            <div class="avatar-group">
                                <img class="avatar rounded-circle avatar-md border border-white border-2" src="/assets/images/avatar/small/avatar1.webp" alt="">
                                <img class="avatar rounded-circle avatar-md border border-white border-2" src="/assets/images/avatar/small/avatar2.webp" alt="">
                                <img class="avatar rounded-circle avatar-md border border-white border-2" src="/assets/images/avatar/small/avatar3.webp" alt="">
                                <img class="avatar rounded-circle avatar-md border border-white border-2" src="/assets/images/avatar/small/avatar4.webp" alt="">
                            </div>
                            <div class="clearfix">
                                <span>Talk to over 215 doctor</span>
                            </div>
                        </div>
                        <a href="team.html" class="btn btn-square btn-xl btn-light btn-rounded">
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="var(--bs-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M7 7H17V17" stroke="var(--bs-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="widget-rating3 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
                        <ul class="star-list">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span class="rating">(4.8)</span>
                        <span class="text">12k+ ratings on google</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
                                <span class="icon-cell">
                                    <i class="feather icon-map-pin"></i>						
                                </span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">Address</h4>
                                <p>234 Oak Drive, Villagetown, USA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
                                <span class="icon-cell">
                                    <i class="feather icon-phone"></i>							
                                </span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">Call Us</h4>
                                <p>+0 123-456-7890</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
                                <span class="icon-cell">
                                    <i class="feather icon-mail"></i>
                                </span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">Send us a Mail</h4>
                                <p>info@example.com
                                clinicmaster@example.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
                                <span class="icon-cell">
                                    <i class="feather icon-clock"></i>								
                                </span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">Opening Time</h4>
                                <p>Mon-Thu: 8:00am-5:00pm Fri: 8:00am-1:00pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 m-b30" data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
                <div class="form-wrapper style-1">
                    <div class="form-body bg-primary background-blend-burn" style="background-image: url(/assets/images/background/bg2.png);">
                        <div class="title-head">
                            <h2 class="form-title m-b0">Make An <span>Appointment</span> <br> Apply For Treatments</h2>
                        </div>
                        <form action="../assets/script/contact_smtp.php" class="dzForm" method="POST">
                            <input type="hidden" class="form-control" name="dzToDo" value="Appointment">
                            <input type="hidden" class="form-control" name="reCaptchaEnable" value="0">
                            <div class="dzFormMsg"></div>
                            <div class="row">
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <input name="dzName" type="text" class="form-control" id="inputYourName" placeholder="Your Name">
                                        <label for="inputYourName">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <input name="dzEmail" type="email" class="form-control" id="inputYourEmail" placeholder="Your Email">
                                        <label for="inputYourEmail">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <input name="dzPhoneNumber" type="text" class="form-control dz-number" id="inputPhoneNumber" placeholder="Phone Number">
                                        <label for="inputPhoneNumber">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <select name="dzOther[Services]" class="bs-select" data-style="form-control" title="Select Service">
                                            <option value="Angioplasty">Angioplasty</option>
                                            <option value="Cardiology">Cardiology</option>
                                            <option value="Dental">Dental</option>
                                            <option value="Eye Care">Eye Care</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <textarea name="dzMessage" class="form-control" id="inputMessage" rows="6" placeholder="Select Service"></textarea>
                                        <label for="inputMessage">Message</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" name="submit" value="submit" class="btn btn-lg btn-icon btn-white hover-secondary btn-shadow">
                                        Appointment <span class="right-icon"><i class="feather icon-arrow-right"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>