<div class="hero-banner style-1" style="background-image: url(/assets/images/hero-banner/bg1.webp); background-size: cover;">
    <div class="container">
        <div class="inner-wrapper">
            <span class="text-vertical text-secondary">24/7 EMERGENCY SERVICE</span>
            <div class="row align-items-end h-100">
                <div class="col-lg-6 align-self-center">
                    <div class="hero-content">
                        <h1 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">Medical & Health Care <span class="text-primary">Services</span> <img src="/assets/images/hero-banner/line.png" alt=""></h1>
                        <p class="text wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">Your health is our top priority. Schedule an appointment with us today</p>
                        <a href="appointment.html" class="btn btn-lg btn-icon btn-primary m-r20 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
                            Appointment
                            <span class="right-icon"><i class="feather icon-arrow-right"></i></span>
                        </a>
                        <a href="contact-us.html" class="btn btn-lg btn-icon btn-secondary wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
                            Contact Us
                            <span class="right-icon"><i class="feather icon-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.8s" data-wow-duration="0.8s">
                    <div class="hero-thumbnail" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
                        <img class="thumbnail" src="/assets/images/hero-banner/img1.webp" alt="">
                        <div class="circle-wrapper">
                            <span class="circle1"></span>
                            <span class="circle2"></span>
                            <span class="circle3"></span>
                            
                            <div class="item1">
                                <img src="/assets/images/hero-banner/heart.png" alt="">
                            </div>
                        </div>
                        <div class="item2" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
                            <div class="info-widget style-1 move-3">
                                <div class="avatar-group">
                                    <img class="avatar rounded-circle avatar-sm border border-white border-2" src="/assets/images/avatar/small/avatar1.webp" alt="">
                                    <img class="avatar rounded-circle avatar-sm border border-white border-2" src="/assets/images/avatar/small/avatar2.webp" alt="">
                                    <img class="avatar rounded-circle avatar-sm border border-white border-2" src="/assets/images/avatar/small/avatar3.webp" alt="">
                                    <img class="avatar rounded-circle avatar-sm border border-white border-2" src="/assets/images/avatar/small/avatar4.webp" alt="">
                                </div>
                                <div class="clearfix ms-2">
                                    <span class="number text-primary">150k</span>
                                    <span>Patient recovers</span>
                                </div>
                            </div>
                        </div>
                        <div class="item3" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
                            <div class="info-widget style-2 move-2">
                                <div id="progressChart"></div>
                                <div class="widget-content">
                                    <h6 class="mb-0">Successfully diagnosis</h6>
                                    <a href="team-detail.html" class="btn btn-square btn-outline-light text-primary rounded-circle">
                                        <i class="feather icon-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item4" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
                            <div class="info-widget style-3 move-1">
                                <div class="widget-head">
                                    <div class="widget-media">
                                        <img src="/assets/images/avatar/small/avatar5.webp" alt="">
                                    </div>
                                    <div class="widget-content">
                                        <h6 class="title">Dr. Natali jackson</h6>
                                        <ul class="star-list">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p>“It is a long established fact that a reader will be distracted by the readable content”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item5" data-bottom-top="transform: translateY(-30px)" data-top-bottom="transform: translateY(30px)">
                <div class="info-widget style-4 move-4">
                    <div class="widget-media">
                        <img src="/assets/images/avatar/small/avatar6.webp" alt="">
                    </div>
                    <div class="widget-content">
                        <h6 class="title">Have a Question?</h6>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>