
<section class="content-inner bg-light bg-opacity-50">
    <div class="container">
        <div class="section-head style-3">
            <h2 class="title m-b0 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">Nationwide Care</h2>
        </div>
        <div class="row content-wrapper">
            <div class="col-xl-6 m-b30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">
                <div class="content-bx style-6 shadow-sm">
                    <div class="dz-media">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227748.3825624477!2d75.65046970649679!3d26.88544791796718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4adf4c57e281%3A0xce1c63a0cf22e09!2sJaipur%2C+Rajasthan!5e0!3m2!1sen!2sin!4v1500819483219" style="border:0; width:100%; min-height:100%; margin-bottom: -8px;" allowfullscreen=""></iframe>
                    </div> 
                    <div class="dz-info">
                        <div class="clearfix">
                            <h3 class="title m-b20">Bhopal</h3>
                            <div class="m-b15">
                                <h4 class="m-b5 font-16">Address:</h4>
                                <p>123 Health Way, Suite 456 Goodland, 78910 United States</p>
                            </div>
                            <div class="m-b15">
                                <h4 class="m-b5 font-16">Service Time:</h4>
                                <p>Mon -Sat: 7:00 - 17:00</p>
                            </div>
                        </div>
                        <div class="dz-footer">
                            <a href="https://www.google.com/maps/" target="_blank" class="icon-link-hover-end">Get Directions <i class="feather icon-arrow-up-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 m-b30 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.5s">
                <div class="content-bx style-6 shadow-sm">
                    <div class="dz-media">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227748.3825624477!2d75.65046970649679!3d26.88544791796718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4adf4c57e281%3A0xce1c63a0cf22e09!2sJaipur%2C+Rajasthan!5e0!3m2!1sen!2sin!4v1500819483219" style="border:0; width:100%; min-height:100%; margin-bottom: -8px;" allowfullscreen=""></iframe>
                    </div> 
                    <div class="dz-info">
                        <div class="clearfix">
                            <h3 class="title m-b20">Bhubaneshwar</h3>
                            <div class="m-b15">
                                <h4 class="m-b5 font-16">Address:</h4>
                                <p>123 Health Way, Suite 456 Goodland, 78910 United States</p>
                            </div>
                            <div class="m-b15">
                                <h4 class="m-b5 font-16">Service Time:</h4>
                                <p>Mon -Sat: 7:00 - 17:00</p>
                            </div>
                        </div>
                        <div class="dz-footer">
                            <a href="https://www.google.com/maps/" target="_blank" class="icon-link-hover-end">Get Directions <i class="feather icon-arrow-up-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
