<section class="content-inner overlay-secondary-dark background-blend-luminosity bg-img-fix overflow-hidden" style="background-image: url(images/background/bg1.webp); background-repeat: no-repeat; background-position: right center; background-size: cover;">
    <div class="container">
        <div class="row content-wrapper style-7 align-items-center">
            <div class="col-lg-6 m-b30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.7s">
                <div class="content-media">
                    <div class="dz-media">
                        <img src="/assets/images/about/img5.webp" alt="">
                    </div>
                    <div class="item1">
                        <div class="info-widget style-11 bg-primary text-center">
                            <span class="content-text text-white"><span class="counter">20</span>+</span>
                            <h3 class="title m-b0 text-white">Years <br> Experienced</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 m-b30">
                <div class="section-head style-1 m-b30">
                    <h2 class="title text-white m-b0 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.7s">Why Choose Us for Your Health care Needs </h2>
                </div>
                <div class="row row-wrapper g-5">
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.7s">
                            <div class="icon-bx bg-primary">
                                <span class="icon-cell">
                                    <img src="/assets/images/svg/check.svg" alt="">
                                </span>
                            </div>
                            <div class="icon-content">
                                <h3 class="dz-title">More Experience</h3>
                                <p>We offer a wide range of health services to meet all your needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.7s">
                            <div class="icon-bx bg-primary">
                                <span class="icon-cell">
                                    <img src="/assets/images/svg/check.svg" alt="">
                                </span>
                            </div>
                            <div class="icon-content">
                                <h3 class="dz-title">Seamless care</h3>
                                <p>We offer a wide range of health services to meet all your needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.7s">
                            <div class="icon-bx bg-primary">
                                <span class="icon-cell">
                                    <img src="/assets/images/svg/check.svg" alt="">
                                </span>
                            </div>
                            <div class="icon-content">
                                <h3 class="dz-title">The right answers?</h3>
                                <p>We offer a wide range of health services to meet all your needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper style-4 text-center text-white wow fadeInUp" data-wow-delay="1.0s" data-wow-duration="0.7s">
                            <div class="icon-bx bg-primary">
                                <span class="icon-cell">
                                    <img src="/assets/images/svg/check.svg" alt="">
                                </span>
                            </div>
                            <div class="icon-content">
                                <h3 class="dz-title">Unparalleled expertise</h3>
                                <p>We offer a wide range of health services to meet all your needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>