<footer class="site-footer style-1 overlay-primary-light" style="background-image: url(/assets/images/background/bg4.webp)">
		
    <div class="footer-head">
        <div class="container">
            <div class="fh-inner">
                <div class="row g-3 align-items-center">
                    <div class="col-xl-3 col-md-12 col-sm-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                        <h3 class="title">Get in Touch with us</h3>
                        <p class="text">Lorem Ipsum&nbsp;is simply dummy</p>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-1">
                            <div class="icon-bx bg-secondary">
                                <span class="icon-cell">
                                    <i class="feather icon-phone"></i>
                                </span>
                            </div>
                            <div class="icon-content">
                                <h5 class="dz-title">Call Us</h5>
                                <p><a href="tel:+91 9827990918" class="text-body">+91 9827990918</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-1">
                            <div class="icon-bx bg-secondary">
                                <span class="icon-cell">
                                    <i class="feather icon-mail"></i>
                                </span>
                            </div>
                            <div class="icon-content">
                                <h5 class="dz-title">Send us a Mail</h5>
                                <p><a href="mailto:info@shriananthospital.com" class="text-body">info@shriananthospital.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-1">
                            <div class="icon-bx bg-secondary">
                                <span class="icon-cell">
                                    <i class="feather icon-clock"></i>
                                </span>
                            </div>
                            <div class="icon-content">
                                <h5 class="dz-title">Opening Time</h5>
                                <p>Mon -Sat: 7:00 - 17:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-sm-12 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                    <div class="widget widget_about me-2">
                        <div class="footer-logo logo-white">
                            <a href="/"><img src="/assets/images/logo.svg" alt=""></a> 
                        </div>
                        <p><span class="text-primary">ClinicMaster</span> Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Ut Laoreet Dolore Agna Aliquam Erat . Wisi Enim Ad Minim Veniam, Quis Tation. Sit Amet, Consec Tetuer. Ipsum Dolor</p>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
                    <div class="widget widget_services">
                        <h2 class="footer-title">Important Links</h2>
                        <ul class="list-hover1">
                            <li><a href="/"><span>Home</span></a></li>
                            <li><a href="/about"><span>About Us</span></a></li>
                            <li><a href="/team"><span>Meet Our Doctors</span></a></li>
                            <li><a href="/services"><span>Services & Specialization</span></a></li>
                        </ul>   
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
                    <div class="widget widget_services">
                        <h2 class="footer-title">Posts </h2>
                        <ul class="list-hover1">
                            <li><a href="/casestudy"><span>Case Studies</span></a></li>
                            <li><a href="/events"><span>Events</span></a></li>
                            <li><a href="/blogs"><span>Blog & Posts</span></a></li>
                            <li><a href="/gallery"><span>Gallery</span></a></li>
                            
                        </ul>   
                    </div>
                </div>
               
                <div class="col-xl-2 col-md-3 col-6 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
                    <div class="widget widget_services">
                        <h2 class="footer-title">Enquiries</h2>
                        <ul class="list-hover1">
                            <li><a href="javascript:void(0);"><span>Book Appointment</span></a></li>
                            <li><a href="javascript:void(0);"><span>Your Feedback</span></a></li>
                            <li><a href="javascript:void(0);"><span>Career</span></a></li>
                            <li><a href="javascript:void(0);"><span>Corporate Enquiries</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 col-6 wow fadeInUp" data-wow-delay="1.0s" data-wow-duration="0.8s">
                    <div class="widget widget_services">
                        <h2 class="footer-title">Policies</h2>
                        <ul class="list-hover1">
                            <li><a href="/"><span>Privacy Policy</span></a></li>
                            <li><a href="/"><span>Terms & Conditions</span></a></li>
                            <li><a href="/"><span>Legal Policies </span></a></li>
                            <li><a href="/"><span>Disclaimer</span></a></li>
                            <li><a href="/"><span>FAQ</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->
    <script>
        $(document).ready(function () {
            // Image Popup
            $('.image-popup').magnificPopup({
              type: 'image',
              gallery: { enabled: true } // Enable gallery mode
            });
        
          });
    </script>
    <!-- Footer Top -->
    <div class="footer-middle">
        <div class="container">
            <div class="fm-inner">
                <div class="row align-items-center g-lg-5 g-4">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                        <h2 class="title">Important Updates Waiting for you</h2>
                        <p>Get our latest and best contents right into your inbox</p>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
                        <form class="dzSubscribe style-1" action="../assets/script/mailchimp.php" method="post">
                            <div class="dzSubscribeMsg"></div>
                            <div class="form-group">
                                <div class="input-group mb-0">
                                    <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
                                    <div class="input-group-addon">
                                        <button name="submit" value="Submit" type="submit" class="btn btn-primary btn-hover1">
                                            <span class="btn-text">Subscribe Now</span>
                                            <span class="btn-icon">
                                                <i class="fa-solid fa-paper-plane"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="fb-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-12 text-start"> 
                        <p class="copyright-text">© <span class="current-year">2024</span> <a href="https://themeforest.net/user/dexignzone" target="_blank">DexignZone</a> Theme. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 col-md-12 text-end"> 
                        <div class="d-flex align-items-center justify-content-center justify-content-md-center justify-content-xl-end">
                            <div class="widget-rating1">
                                <img src="/assets/images/google.svg" alt="">
                                <ul class="star-list">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span class="rating">(4.8)</span>
                                <span class="text">12k+ ratings on google</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
    
    <div class="item1">
        <div class="info-widget style-4">
            <div class="widget-media">
                <img src="/assets/images/avatar/small/avatar6.webp" alt="">
            </div>
            <div class="widget-content">
                <h6 class="title">Have a Question?</h6>
                <a href="mailto:info@example.com">info@example.com</a>
                <span class="text">John Cane</span>
            </div>
        </div>
    </div>
    
</footer>

  
<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>

</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="/assets/js/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/jquery-3.5.0.js"></script>
<script src="../assets/js/jquery.magnific-popup.min.js"></script>
<script src="../assets/js/global.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/vendor/imagesloaded/imagesloaded.js"></script>
<script src="../assets/vendor/apexchart/apexchart.js"></script>
<script src="../assets/js/init-apexchart.js"></script>
<script src="../assets/js/dz.carousel.js"></script>
<script src="../assets/js/dz.ajax.js"></script>
<script src="../assets/js/custom.js"></script>

<script src="https://unpkg.com/feather-icons"></script>