<html lang="en" data-theme-color="skin-1">
<head>

		<!-- Title -->

	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="format-detection" content="telephone=no">
	
	<meta name="keywords" content="healthcare HTML template, medical Bootstrap template, clinic website template, hospital HTML template, responsive medical template, healthcare web design, Bootstrap health template, ClinicMaster medical design, modern medical template, health website design">
	<meta name="description" content="ClinicMaster is a modern and responsive Bootstrap HTML template designed for health and medical websites. Ideal for clinics, hospitals, and healthcare professionals seeking a professional online presence with an elegant and user-friendly design.">
	
	<meta property="og:title" content="ClinicMaster - Health & Medical Bootstrap Template">
	<meta property="og:description" content="ClinicMaster is a modern and responsive Bootstrap HTML template designed for health and medical websites. Ideal for clinics, hospitals, and healthcare professionals seeking a professional online presence with an elegant and user-friendly design.">
	<meta property="og:image" content="">
	
	
	<!-- CANONICAL URL -->
	<link rel="canonical" href=" ">
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link href="../../css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="../assets/vendor/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendor/bootstrap-select/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendor/magnific-popup/magnific-popup.min.css">
	
	<!-- Custom Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flaticon/2.1.2/css/flaticon.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css">

	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/animation.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/master.css">
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
</head>	
<body id="bg">
<div class="page-wraper">
	<div id="header1">
	<!-- <div class="dz-preloader-1" id="dzPreloader">
	<div class="preloader-inner">
		<svg class="dz_svg" width="240" height="240" viewbox="0 0 240 240">
			<circle class="dz_ring dz_ring_1" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
			<circle class="dz_ring dz_ring_2" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
			<circle class="dz_ring dz_ring_3" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
			<circle class="dz_ring dz_ring_4" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
		</svg>
	</div>
   </div> -->

		<!-- Header Star -->
	<header class="site-header header style-1 " >		
		
		<div class="header-info-bar d-none d-xxl-block" >
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-3">
					<div class="logo-header logo-dark " style="display: flex;">
						<a href="/"><img src="/assets/images/logo/SHRIANANTLOGO.svg"  alt="logo"></a>
						
					</div>
				</div>
					<div class="col-2">
						<div class="icon-bx-wraper style-5">
							<div class="icon-bx">
								<span class="icon-cell">
									<img src="/assets/images/svg/icon1.svg" alt="">
								</span>
							</div>
							<div class="icon-content">
								<h2 class="dz-title text-primary">Contact Us</h2>
								<p><a href="tel:+11234567890" class="text-secondary">+91 9827990918</a></p>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="icon-bx-wraper style-5">
							<div class="icon-bx">
								<span class="icon-cell">
									<img src="/assets/images/svg/icon2.svg" alt="">
								</span>
							</div>
							<div class="icon-content">
								<h2 class="dz-title text-primary">Email</h2>
								<p><a href="mailto:info@shriananthospital.com
" class="text-secondary">info@shriananthospital.com
</a></p>
							</div>
						</div>
					</div>
					<!-- <div class="col">
						<div class="icon-bx-wraper style-5">
							<div class="icon-bx">
								<span class="icon-cell">
									<img src="/assets/images/svg/icon3.svg" alt="">
								</span>
							</div>
							<div class="icon-content">
								<h2 class="dz-title text-primary">Online Appointment </h2>
								<p>Book Now <i class="feather icon-arrow-right"></i></p>
							</div>
						</div>
					</div> -->
					<!-- <div class="col">
						<div class="icon-bx-wraper style-5">
							<div class="icon-bx">
								<span class="icon-cell">
									<img src="/assets/images/svg/icon4.svg" alt="">
								</span>
							</div>
							<div class="icon-content">
								<h2 class="dz-title text-primary">Supports</h2>
								<p>24x7 Supports</p>
							</div>
						</div>
					</div> -->
					
					<div class="col-4">
						<div class="icon-bx-wraper style-5">
							<div class="icon-bx">
								<span class="icon-cell" >
									<img src="/assets/images/svg/location.svg" alt="">
								</span>
							</div>
							<div class="icon-content">
								<h2 class="dz-title text-primary">Address</h2>
								<p>Ring Road No. 1, In front of Airtel Office, Telibandha, Raipur (C.G.)</p>
							</div>
						</div>
					</div>
					<!-- <div class="col">
						<div class="icon-bx-wraper style-5">
							<div class="icon-bx">
								<span class="icon-cell">
									<img src="/assets/images/svg/icon6.svg" alt="">
								</span>
							</div>
							<div class="icon-content">
								<h2 class="dz-title text-primary">My Cart</h2>
								<p>2 Items</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		
		<!-- Main Header -->
		<div class="sticky-header main-bar-wraper" style="top:0; width:100%; box-shadow: 0px 0px 8px #c2c2c2;">
			<div class="main-bar clearfix text-white">
				<div class="container-fluid clearfix inner-bar">
					<div class="logo-header logo-dark " style="display: flex; padding-top:20px">
						<a href="/"><img src="/assets/images/logo/SHRIANANTLOGO.svg"  alt="logo"></a>
						
					</div>
					<!-- Website Logo -->
					
					
					<!-- Nav Toggle Button -->
					<button class="w3menu-toggler navicon" type="button" data-target="#W3Menu">
						<span></span>
						<span></span>
						<span></span>
					</button>
					
					<!-- Main Nav -->
					<div class="menu-close fade-overlay"></div>
					<div class="header-nav w3menu w3menu-end mo-left" id="W3Menu">
						<div class="logo-header logo-dark " style="display: flex;">
							<a href="/"><img src="/assets/images/logo/SHRIANANTLOGO.svg"  alt="logo"></a>
							
						</div>
						
						<ul class="nav navbar-nav">
							<li class="has-mega-menu  auto-width menu-left">
								<a href="/"><span>Home</span> </a>
								
							</li>
							<li >
								<a href="/about"><span>About Us</span> </a>
								
							</li>
							<li>
								<a href="/team">Our Doctors </a>
								
							</li>
							<li>
								<a href="/services"><span>Services</span></a>
								
							</li>
							
							<li class="sub-menu-down">
								<a href="/posts" ><span>Posts</span> <i class="fas fa-chevron-down text-white tabindex "></i></a>
								<ul class="sub-menu">				
									<li><a href="/casestudies">Case Studies</a></li>	
									<li><a href="/events">Events</a></li>	
									<li><a href="/blogs">Blogs & Posts</a></li>
									<li><a href="/gallery">Gallery</a></li>
									
								</ul>
							</li>
							
							<li><a href="/contact"><span>Contact Us</span></a></li>
						</ul>
						
						<div class="dz-social-icon">
							<ul>
								<li>
									<a href="https://www.facebook.com" target="_blank">
										<i style="padding-top: 12px;" class="fa-brands fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com" target="_blank">
										<i style="padding-top: 12px;" class="fa-brands fa-x-twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com" target="_blank">
										<i style="padding-top: 12px;" class="fa-brands fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com" target="_blank">
										<i style="padding-top: 12px;" class="fa-brands fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				
					<!-- EXTRA NAV -->
					<div class="extra-nav">
						<div class="extra-cell">						
							<ul class="header-right">
								<li class="nav-item">
									<a href="/appointment" class="btn btn-primary btn-hover1">
										Appointment
									</a>
								</li>
								<li class="nav-item">
									<button type="button" class="toggle-nav-btn" data-bs-toggle="offcanvas"  data-bs-target="#headerSidebar" aria-controls="offcanvasLeft">
										<span></span>
										<span></span>
										<span></span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Header End -->
	
		<!-- Sidebar -->
		<div class="offcanvas dz-offcanvas offcanvas offcanvas-end" tabindex="-1" id="headerSidebar" style="z-index: 9999;">
			<button type="button" class="btn-close m-t10 m-l10" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			<div class="offcanvas-body">
				<div class="widget">
					<div class="sidebar-header m-b20">
						<a href="/"><img src="/assets/images/logo/SHRIANANTLOGO.svg"  alt="logo"></a>
					</div>
					<p>ClinicMaster is a modern and responsive Bootstrap HTML template designed for health and medical websites. Ideal for clinics, hospitals, and healthcare professionals seeking a professional online presence with an elegant and user-friendly design.</p>
				</div>
				
				<div class="widget">
					<div class="widget-title">
						<h4 class="title">Contact Us</h4>
					</div>
					<ul class="list-check">
						<li class="address">785 15h Street, Office 478 Berlin, De 81566</li>
						<li class="mail"><a href="mailto:email@domain.com" class="text-body">email@domain.com</a></li>
						<li class="phone" ><a href="tel:+11234567890" class="text-body">+1 123 456 7890</a></li>
					</ul>
				</div>
				
				<div class="widget">
					<div class="widget-title">
						<h4 class="title">Newsletter</h4>
					</div>
					<form class="dzSubscribe style-2" action="../assets/script/mailchimp.php" method="post">
						<div class="dzSubscribeMsg"></div>
						<div class="form-group">
							<div class="input-group mb-0">
								<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
								<div class="input-group-addon">
									<button name="submit" value="Submit" type="submit" class="btn text-primary btn-transparent p-2">
										<i class="fa-solid fa-paper-plane"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				
				<div class="widget">
					<div class="widget-title">
						<h4 class="title">Follow Us</h4>
					</div>
					<div class="dz-social-icon style-1">
						<ul>
							<li>
								<a href="https://www.linkedin.com" target="_blank">
									<i class="fa-brands fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com" target="_blank">
									<i class="fa-brands fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com" target="_blank">
									<i class="fa-brands fa-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="https://twitter.com" target="_blank">
									<i class="fa-brands fa-x-twitter"></i>
								</a>
							</li>
							<li>
								<a href="https://www.youtube.com" target="_blank">
									<i class="fa-brands fa-youtube"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Sidebar -->

		
		<div class="sticky-header main-bar-wraper" id="navbar2" style="position: fixed; top:0; width:100%; box-shadow: 0px 0px 8px #c2c2c2;">
			<div class="main-bar clearfix">
				<div class="container-fluid clearfix inner-bar">
					
							<div class="logo-header logo-dark " style="display: flex; padding-top:20px">
								<a href="/"><img src="/assets/images/logo/SHRIANANTLOGO.svg"  alt="logo"></a>
								
							</div>
						
					<!-- Website Logo -->
					
					<button class="w3menu-toggler navicon" type="button" data-target="#W3Menu">
						<span></span>
						<span></span>
						<span></span>
					</button>
					
					<!-- Main Nav -->
					<div class="menu-close fade-overlay"></div>
					<div class="header-nav w3menu w3menu-end mo-left" id="W3Menu" style="    justify-content: space-between;" >
						

						<ul class="nav navbar-nav col-7"  >
							<li>
								<a href="/"><span>Home</span> </a>
								
							</li>
							<li >
								<a href="/about"><span>About Us</span> </a>
								
							</li>
							<li>
								<a href="/team">Our Doctors </a>
								
							</li>
							<li>
								<a href="/services"><span>Services</span></a>
								
							</li>
							<li class="sub-menu-down">
 
  <a href="/Posts"><span>Posts</span> <i  class="fas fa-chevron-down tabindex"></i></a>
								<ul class="sub-menu">				
									<li><a href="/casestudies">Case Studies</a></li>	
									<li><a href="/events">Events</a></li>	
									<li><a href="/blogs">Blogs & Posts</a></li>
									<li><a href="/gallery">Gallery</a></li>
									
								</ul>
							</li>
							
							<li><a href="/contact"><span>Contact Us</span></a></li>
						</ul>
						
						<div class="extra-nav col-2">
							<div class="extra-cell">						
								<ul class="header-right" style="display: flex;  justify-content:flex-end; gap:20px">
									<li class="nav-item">
										<a href="/appointment" class="btn btn-primary btn-hover1">
											Appointment
										</a>
									</li>
									<li class="nav-item">
										<button type="button" class="toggle-nav-btn" data-bs-toggle="offcanvas" data-bs-target="#headerSidebar" aria-controls="offcanvasLeft">
											<span></span>
											<span></span>
											<span></span>
										</button>
									</li>
								</ul>
							</div>
						</div>

						<div class="dz-social-icon">
							<ul>
								<li>
									<a href="https://www.facebook.com" target="_blank">
										<i style="padding-top: 12px;" class="fa-brands fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com" target="_blank">
										<i style="padding-top: 12px;" class="fa-brands fa-x-twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com" target="_blank">
										<i style="padding-top: 12px;" class="fa-brands fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com" target="_blank">
										<i style="padding-top: 12px;" class="fa-brands fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>	
						
					</div>
				
					<!-- EXTRA NAV -->
					
				
				</div>
			</div>
		</div>
		<!-- Main Header End -->
		 <style>
			#navbar1{
				display: block;
			}
			#navbar2{
				display: none;
				z-index: 999;
				background-color: white;
				
				width: 100%;
			}
		 </style>
		<script>
		window.addEventListener("scroll", function () {
    var navbar2 = document.getElementById("navbar2");
    if (window.scrollY > 200) { // Adjust this value if needed
        navbar2.style.display = "block";
    } else {
        navbar2.style.display = "none";
    }
});

			
		</script>
		

</div>
	</header>