<%- include('header') %>

<main class="page-content">
	
    <!-- Blog Large -->
   
    <section class="content-inner-3" style="padding-top: 110px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 pe-xl-5 m-b30">
                

                    content
                    
                    <!-- blog END -->
                </div>
                <div class="col-xl-3">
                    <aside class="side-bar sticky-top  m-b30 p-0">
Tags


</aside>
                </div>
            </div>
        </div>
    </section>
    
</main>

<%- include('footer') %>